* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.text-primary {
    color: #ef0054;
}

.btn {
    border: none;
    border-radius: 50px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.btn-primary {
    background: #ef0054;
    color: #fff;
}

/********************************* Scroll Bar *********************************/

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#FD297A, #9424F0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#DB0B5F, #6F00ED);
}

/********************************* Landing Section *********************************/

#landing {
    background: url(/assets/img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 100vh;
    width: 100%;
    position: relative;
}

.landing__text {
    position: absolute;
    top: 30%;
    left: 10%;
    color: #fff;
    font-size: 24px;
}

.landing__text h1 {
    font-size: 2em;
    font-weight: bold;
}

.landing__buttons {
    margin-top: 16px;
}

.landing__img {
    position: absolute;
    left: 55%;
    top: 25%;
}

@media screen and (max-width: 768px) {
    .landing__img {
        display: none;
    }

    .landing__text h1 {
        font-size: 24px;
    }
}

.landing__img img {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    height: 380px;
    width: auto;
}

/********************************* Skills Section *********************************/
#skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.skills__heading {
    font-size: 2em;
    font-weight: bold;
}

.skills__container {
    display: inline-block;
    transform: rotate(45deg);
    margin: 0px 0px;
}

@media screen and (max-width: 768px) {
    .skills__container {
        transform: rotate(45deg) scale(0.7);
    }
}

.skills__row {
    display: flex;
    flex-direction: row-reverse;
}

.skill {
    width: 100px;
    height: 100px;
    background-color: #DEDEDE;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.skill img {
    width: 55px;
    height: auto;
    transform: rotate(-45deg);
}

.skill.inactive {
    background: transparent;
}

.skill.center {
    background-color: #333;
}